.scroller::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  opacity: 0;
  display: none;
}
.scroller::-webkit-scrollbar-track {
  background: white;
}
.scroller::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility:hidden;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}